<app-navbar [navClass]="'defaultscroll is-sticky'"></app-navbar>
<section
  class="relative table w-full items-center py-36 bg-top bg-no-repeat bg-cover"
  style="background-image: url('assets/images/hero/pages.jpg')"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-slate-900/60 via-slate-900/80 to-slate-900"
  ></div>
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center mt-10">
      <h3
        class="text-4xl leading-normal tracking-wider font-semibold text-white"
      >
        Privacy Policy
      </h3>
    </div>
    <!--end grid-->
    <div class="text-center z-10 bottom-5 start-0 end-0">
      <ul class="tracking-[0.5px] mb-0 inline-block">
        <li
          class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"
        >
          <a routerLink="/">Home</a>
        </li>
        <li
          class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"
        >
          <i class="mdi mdi-chevron-right"></i>
        </li>
        <li
          class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white"
          aria-current="page"
        >
          Privacy Policy
        </li>
      </ul>
    </div>
  </div>
  <!--end container-->

</section>

<section class="relative md:py-24 py-16">
  <div class="container relative">
    <div class="md:flex justify-center">
      <div class="md:w-4/4">
        <div
          class="p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md"
        >
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Suitywuty takes the privacy and data of users seriously. This
              privacy policy sets out how we may collect, use and handle the
              information you provide while you use our website and services. In
              using our website, you agree to all of our practices as set out in
              this policy.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >1. Definition of personal data</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Personal data refers to any information that can be used to
              identify an individual, including but not limited to your name,
              contact details, delivery address, and other information. At
              Suitywuty, we value the confidentiality and security of your
              personal data and are committed to handling it with proper
              upkeep.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >2. Collection of personal data</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We collect personal data when you use our website and services to
              process your rental orders. This may include:</span
            >
          </p>
          <ul style="list-style-type: undefined margin-left: 26px;">
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >Your name, email address, phone number, and delivery
                address.</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >Preferences for dress rentals, including the types of dresses
                you are interested in.</span
              >
            </li>
          </ul>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We collect this data when you place an order or contact us for
              any inquiries.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >3. How we use your personal data</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We collect personal information for the following purposes:</span
            >
          </p>
          <ul style="list-style-type: undefined margin-left: 26px;">
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >Processing and fulfilling your rental orders</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >Communication regarding the status of your order, delivery
                details, and issues related to your rental</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >Improvement of our services and personalization of your
                shopping experience</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >We do not use your data for unsolicited marketing, nor do we
                share your personal information with third parties for
                promotional purposes.</span
              >
            </li>
          </ul>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >4. Children&apos;s use of our website</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Our website is not intended for use by children under 13.
              Suitywuty does not knowingly collect any personal data from
              children. In the event we discover that we have collected
              information from a child under the age of 13, we will take
              appropriate action to delete such information in a timely manner.
              We encourage parents and guardians to monitor their
              children&apos;s activity online.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >5. Personal Data (Privacy) Ordinance (PDPO) Compliance</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Suitywuty is also compliant with the Personal Data (Privacy)
              Ordinance of Hong Kong, which governs collection, use, and storage
              of personal data. According to the PDPO, you have the right
              to:</span
            >
          </p>
          <ul style="list-style-type: undefined margin-left: 26px;">
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >Access the personal data we hold about you.</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >Request corrections to any inaccurate data.</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >Withdraw consent for the use of your personal data, subject to
                certain legal limitations.</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><span style="font-family: Calibri; font-size: 15px"
                >To exercise these rights, or if you have any concerns about how
                your personal data is being used, please contact us.</span
              >
            </li>
          </ul>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >6. Sharing of personal data</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >At Suitywuty, we respect your privacy. We do not share, sell, or
              lease your personal data to third parties for marketing purposes.
              Your information may only be shared with trusted service providers
              to fulfill your orders, such as delivery companies, but only to
              the extent necessary for that purpose.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >7. Security of your data</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We implement appropriate security measures to protect your
              personal data from unauthorized access, alteration, or
              destruction. No online service can be completely secure.
              Therefore, we strictly make sure that your information is
              protected.&nbsp;</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >8. Updates to this privacy policy</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Suitywuty has the right to change this Privacy Policy from time
              to time. Changes will be published on our website, and the new
              policy will go into effect once it is published. We encourage you
              to check this policy regularly.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >9. Contact us</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >If you have questions or concerns regarding your privacy or our
              practices, you can reach us at rent&#64;suitywuty.com.</span
            >
          </p>
        </div>
      </div>
      <!--end -->
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
