<app-navbar [navClass]="'defaultscroll is-sticky'"></app-navbar>
<section
  class="relative table w-full items-center py-36 bg-top bg-no-repeat bg-cover"
  style="background-image: url('assets/images/hero/pages.jpg')"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-slate-900/60 via-slate-900/80 to-slate-900"
  ></div>
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center mt-10">
      <h3
        class="text-4xl leading-normal tracking-wider font-semibold text-white"
      >
        Return and Refund Policy
      </h3>
    </div>
    <!--end grid-->
    <div class="text-center z-10 bottom-5 start-0 end-0">
      <ul class="tracking-[0.5px] mb-0 inline-block">
        <li
          class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"
        >
          <a routerLink="/">Home</a>
        </li>
        <li
          class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"
        >
          <i class="mdi mdi-chevron-right"></i>
        </li>
        <li
          class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white"
          aria-current="page"
        >
          Return and Refund Policy
        </li>
      </ul>
    </div>
  </div>
  <!--end container-->

</section>

<section class="relative md:py-24 py-16">
  <div class="container relative">
    <div class="md:flex justify-center">
      <div class="md:w-4/4">
        <div
          class="p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md"
        >
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >At Suitywuty, we are committed to providing you with a reliable
              and seamless experience in dress rentals. Sometimes things just
              don&apos;t go as planned, so we have put together this Return and
              Refund Policy to ensure any issues are handled quickly and
              fairly.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >1. Rental duration and condition</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We request you to inspect the dress the moment you receive it.
              The dress should be returned in the same condition that it was
              delivered in. We are glad to take back returns only if the dress
              reaches you damaged or defective.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >2. Returns</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >If you receive a defective or damaged dress, please get in touch
              with us within 24 hours of the delivery of your rental. After we
              confirm the fault, we will organize its return and provide a
              replacement or a full refund on the basis of availability and your
              preference. We cannot accept returns due to a change of mind, poor
              fit, or any other reason.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >3. Refunds</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Refunds are provided only on damaged or defective dresses. In
              case your rental is eligible for a refund, we will ensure it is
              returned to your bank account. Allow 4-5 business days for the
              refund to reach your account depending on the provider.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >4. Late returns</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Late fees will apply if the dress is returned after the agreed
              rental period. To avoid any additional charges, please ensure the
              dress is returned on time.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >5. Exceptions</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >This policy does not apply to dresses that have been altered,
              damaged due to irresponsible handling, stained, or neglected. If
              the dress is returned in unsatisfactory condition, we reserve the
              right to refuse the return or refund.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >6. Contact us</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Please don&apos;t hesitate to drop an email to our support
              service if you have further inquiries about our return and refund
              policy or need help, please contact us at
              rent&#64;suitywuty.com.</span
            >
          </p>
        </div>
      </div>
      <!--end -->
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
