<footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <div class="container relative" style="padding: 0">
    <div class="grid grid-cols-12">
      <div class="col-span-12">
        <div class="py-[60px] px-0">
          <div class="grid md:grid-cols-12 grid-cols-4 gap-6">
            <div class="lg:col-span-6 md:col-span-4">
              <a class="text-[22px] focus:outline-none" href="/">
                <img src="assets/images/logo-light.png" alt="" />
              </a>
              <p class="mt-6 text-gray-300">
                Browse through our premier dress rental offerings and explore
                <br />
                eco-friendly, affordable, and stylish fashion.
              </p>
              <ul class="list-none mt-6 space-x-1">
                <li class="inline">
                  <a
                    href="https://x.com/suitywuty"
                    target="_blank"
                    class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"
                    ><i
                      class="fab fa-twitter h-4 w-4 align-middle"
                      title="twitter"
                    ></i
                  ></a>
                </li>
                <li class="inline">
                  <a
                    href="https://www.pinterest.com/Suitywuty/"
                    target="_blank"
                    class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"
                    ><i
                      class="fab fa-pinterest-p h-4 w-4 align-middle"
                      title="Pinterest"
                    ></i
                  ></a>
                </li>
              </ul>
              <!--end icon-->
            </div>
            <!--end col-->

            <div class="lg:col-span-3 md:col-span-4">
              <h5 class="tracking-[1px] text-gray-100 font-semibold">
                Quick Links
              </h5>

              <div class="grid md:grid-cols-6 grid-cols-1">
                <div class="md:col-span-4">
                  <ul class="list-none footer-list mt-6">
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="/"
                      >
                        <i class="mdi mdi-chevron-right"></i> Home
                      </a>
                    </li>
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="about"
                      >
                        <i class="mdi mdi-chevron-right"></i> About Us
                      </a>
                    </li>
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="shop"
                      >
                        <i class="mdi mdi-chevron-right"></i> Shop
                      </a>
                    </li>
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="blogs"
                      >
                        <i class="mdi mdi-chevron-right"></i> Blogs
                      </a>
                    </li>
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="contact"
                      >
                        <i class="mdi mdi-chevron-right"></i> Contact Us
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="lg:col-span-3 md:col-span-4">
              <h5 class="tracking-[1px] text-gray-100 font-semibold">
                Other Links
              </h5>

              <div class="grid md:grid-cols-4 grid-cols-1">
                <div class="md:col-span-6">
                  <ul class="list-none footer-list mt-6">
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="cookies-policy"
                      >
                        <i class="mdi mdi-chevron-right"></i> Cookies Policy
                      </a>
                    </li>
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="privacy-policy"
                      >
                        <i class="mdi mdi-chevron-right"></i> Privacy Policy
                      </a>
                    </li>
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="return-and-refund-policy"
                      >
                        <i class="mdi mdi-chevron-right"></i> Return and Refund
                        Policy
                      </a>
                    </li>
                    <li class=":first-mt-0 mt-[10px]">
                      <a
                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"
                        href="terms-and-conditions"
                      >
                        <i class="mdi mdi-chevron-right"></i> Terms and
                        Conditions
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--end grid-->
        </div>
        <!--end col-->
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->

  <div class="py-[30px] px-0 border-t border-slate-800">
    <div class="container relative text-center">
      <div class="grid md:grid-cols-2 items-center">
        <div class="md:text-start text-center">
          <p class="mb-0">
            Copyright © 2024 <a href="/" style="color: #f97316">Suitywuty</a>.
            All Right Reserved.
          </p>
        </div>
      </div>
      <!--end grid-->
    </div>
    <!--end container-->
  </div>
</footer>
