<app-navbar [navClass]="'defaultscroll is-sticky'"></app-navbar>

<section
  class="relative table w-full items-center py-36 bg-top bg-no-repeat bg-cover"
  style="background-image: url('assets/images/hero/pages.jpg')"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-slate-900/60 via-slate-900/80 to-slate-900"
  ></div>
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center mt-10">
      <h3
        class="mb-3 text-4xl leading-normal tracking-wider font-semibold text-white"
      >
        Shop
      </h3>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->

  <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
    <ul class="tracking-[0.5px] mb-0 inline-block">
      <li
        class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"
      >
        <a routerLink="/">Home</a>
      </li>
      <li
        class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"
      >
        <i class="mdi mdi-chevron-right"></i>
      </li>
      <li
        class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white"
        aria-current="page"
      >
        Shop
      </li>
    </ul>
  </div>
</section>

<section class="relative md:py-24 py-16">
  <div class="container relative">
    <div
      class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6"
    >
      <div *ngFor="let item of product" class="group">
        <div
          class="relative overflow-hidden shadow dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500"
        >
          <img
            [src]="item.image"
            class="group-hover:scale-110 duration-500"
            alt=""
          />
        </div>

        <div class="mt-4">
          <a
            [routerLink]="item.url"
            class="hover:text-orange-500 text-lg font-medium"
            >{{ item.name }}</a
          >
        </div>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
