<app-navbar [navClass]="'defaultscroll is-sticky'"></app-navbar>

<section
  class="relative table w-full items-center py-36 bg-top bg-no-repeat bg-cover"
  style="background-image: url('assets/images/hero/pages.jpg')"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-slate-900/60 via-slate-900/80 to-slate-900"
  ></div>
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center mt-10">
      <h3
        class="mb-3 text-4xl leading-normal tracking-wider font-semibold text-white"
      >
        Error 404!
      </h3>
    </div>
    <!--end grid-->
    <div class="text-center z-10 bottom-5 start-0 end-0">
      <ul class="tracking-[0.5px] mb-0 inline-block">
        <li
          class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"
        >
          <a routerLink="/">Home</a>
        </li>
        <li
          class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"
        >
          <i class="mdi mdi-chevron-right"></i>
        </li>
        <li
          class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white"
          aria-current="page"
        >
          Error 404!
        </li>
      </ul>
    </div>
  </div>
  <!--end container-->
</section>
<section class="relative bg-orange-500/5">
  <div class="container-fluid relative">
    <div class="grid grid-cols-1">
      <div
        class="flex flex-col min-h-screen justify-center md:px-10 py-10 px-4"
      >
        <div class="title-heading text-center my-auto">
          <div class="text-center">
            <img src="assets/images/error.png" class="mx-auto" alt="" />
          </div>
          <!-- <img src="assets/images/error.svg" class="mx-auto w-72" alt="" /> -->
          <h1 class="mt-8 mb-6 md:text-5xl text-3xl font-bold">
            Page Not Found?
          </h1>
          <p class="text-slate-400">
            Oops! The page you are trying to visit doesn't exist or has been
            removed.
          </p>

          <div class="mt-4">
            <a
              routerLink="/"
              class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-orange-500 hover:bg-orange-600 border-orange-500 hover:border-orange-600 text-white rounded-md"
              >Back to Home</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
<app-back-to-home></app-back-to-home>
