<div class="mt-4">
  <h5 class="text-lg font-semibold">Overview :</h5>
  <p class="text-slate-400 mt-2">
    Rent our exclusive bodycon gown dress featuring soft fabric, subtle stretch,
    and a sleek silhouette. This dress is perfect for any formal parties and
    events.
  </p>

  <h5 class="text-lg font-semibold mt-4">Features :</h5>
  <ul class="list-none text-slate-400">
    <li class="mb-1 flex">
      <i class="mdi mdi-check-circle-outline text-orange-500 text-xl me-2"></i>
      Comfortable material
    </li>
    <li class="mb-1 flex">
      <i class="mdi mdi-check-circle-outline text-orange-500 text-xl me-2"></i>
      Floor-length with a slight slit for floor movement
    </li>
  </ul>

  <h5 class="text-lg font-semibold mt-4">Description :</h5>
  <p class="text-slate-400 mt-2">
    Make your special occasions extra special with the light blue bodycon gown.
    Made with the premium stretch fabric and body-hugging silhouette. This is
    not only comfortable but goes perfectly on every occasion.
  </p>
</div>
<!--end grid-->

<div class="mt-4 space-x-1">
  <a
    href="/checkout"
    class="py-2 px-5 inline-block font-semibold tracking-wide align-middle text-base text-center bg-orange-500 text-white rounded-md mt-2"
    >Rent Now</a
  >
</div>
