<app-navbar [navClass]="'defaultscroll is-sticky'"></app-navbar>
<section
  class="relative table w-full items-center py-36 bg-top bg-no-repeat bg-cover"
  style="background-image: url('assets/images/hero/pages.jpg')"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-slate-900/60 via-slate-900/80 to-slate-900"
  ></div>
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center mt-10">
      <h3
        class="text-4xl leading-normal tracking-wider font-semibold text-white"
      >
        Terms and Conditions
      </h3>
    </div>
    <!--end grid-->
    <div class="text-center z-10 bottom-5 start-0 end-0">
      <ul class="tracking-[0.5px] mb-0 inline-block">
        <li
          class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"
        >
          <a routerLink="/">Home</a>
        </li>
        <li
          class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"
        >
          <i class="mdi mdi-chevron-right"></i>
        </li>
        <li
          class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white"
          aria-current="page"
        >
          Terms and Conditions
        </li>
      </ul>
    </div>
  </div>
  <!--end container-->

</section>

<section class="relative md:py-24 py-16">
  <div class="container relative">
    <div class="md:flex justify-center">
      <div class="md:w-4/4">
        <div
          class="p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md"
        >
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Welcome to Suitywuty, a dress rental service based in Hong Kong.
              By using our services, you agree to comply with and be bound by
              the following terms and conditions. Please read them cautiously
              before making use of our platform.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >1. Rental services</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Suitywuty offers rental dresses to attend cocktail parties,
              wedding occasions, or formal events. The dresses from our
              collection can be rented by our customers for a specific time
              frame. During the booking process, the rental period, available
              dresses for rent, and additional services are clearly
              communicated.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >2. Availability and shipping</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Currently, Suitywuty only operates within Hong Kong.
              International shipping is not available. Orders are processed and
              shipped within the region, and we do not accommodate delivery to
              international addresses.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >3. Payment terms</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Only cash payment on delivery is accepted for the rentals. Upon
              receiving your rental order, our delivery team will collect the
              payment. Credit card payments, bank transfers, and other payment
              methods are not accepted.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >4. Data privacy and security</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We at Suitywuty respect your privacy and ensure&nbsp;we protect
              your personal
              information.&nbsp;Your&nbsp;data&nbsp;will&nbsp;not&nbsp;be&nbsp;shared&nbsp;or&nbsp;sold&nbsp;to&nbsp;third
              parties. All&nbsp;the&nbsp;information
              provided&nbsp;here&nbsp;will&nbsp;be used&nbsp;only&nbsp;for the
              purpose of improving our services and fulfilling your rental
              order. We do not&nbsp;use&nbsp;cookies or track user behavior for
              marketing purposes. You&nbsp;will&nbsp;be assured that
              your&nbsp;private&nbsp;information&nbsp;is&nbsp;handled&nbsp;with&nbsp;extreme&nbsp;security.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >5. Liability and indemnity</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >In no event will Suitywuty be liable for any indirect,
              incidental, or consequential damages arising out of the use of our
              dresses or services.&nbsp;</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >6. Limitation of liability</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Our liability for any damages arising from our services is
              limited to the rental amount paid by the customer. Suitywuty will
              not be liable for any inconvenience or loss caused due to events
              outside our control, such as delivery delays or product
              availability.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >7. Governing law</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Any disputes arising from the use of our services will be
              governed by the laws of Hong Kong. The exclusive jurisdiction for
              resolving such disputes will be the courts of Hong Kong. Terms and
              conditions apply by accepting using Suitywuty&apos;s services. We
              reserve the right to update or modify these terms at any time, and
              any changes will be posted online in due course.&nbsp;</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >8. Contact us</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >If you have any questions, concerns, or inquiries about our
              services, please do not hesitate to contact us at
              rent&#64;suitywuty.com</span
            ><span style="font-family: Calibri; font-size: 15px"
              >. We are here to help you!</span
            >
          </p>
        </div>
      </div>
      <!--end -->
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
