<app-navbar [navClass]="'defaultscroll is-sticky'"></app-navbar>
<section
  class="relative table w-full items-center py-36 bg-top bg-no-repeat bg-cover"
  style="background-image: url('assets/images/hero/pages.jpg')"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-slate-900/60 via-slate-900/80 to-slate-900"
  ></div>
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 text-center mt-10">
      <h3
        class="text-4xl leading-normal tracking-wider font-semibold text-white"
      >
        Cookies Policy
      </h3>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->

  <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
    <ul class="tracking-[0.5px] mb-0 inline-block">
      <li
        class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"
      >
        <a routerLink="/">Home</a>
      </li>
      <li
        class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"
      >
        <i class="mdi mdi-chevron-right"></i>
      </li>
      <li
        class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white"
        aria-current="page"
      >
        Cookies Policy
      </li>
    </ul>
  </div>
</section>
<section class="relative md:py-24 py-16">
  <div class="container relative">
    <div class="md:flex justify-center">
      <div class="md:w-4/4">
        <div
          class="p-6 bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 rounded-md"
        >
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We, at Suitywuty, strive to provide our clients with the desired
              experience while navigating through our website. So, we make use
              of cookies to facilitate this. To better explain what cookies are,
              how we use them, and how you manage your cookie preferences, check
              out this Cookies Policy.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >What are cookies?</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Cookies are small text files left on your device whenever you
              visit a website. These cookies enable the website to recognize
              your device and store some information related to your visit, for
              example, your preferences or browsing behavior. Cookies enhance
              the performance, functionality, and user experience of a
              website.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >How we use cookies</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >Suitywuty uses cookies for a variety of purposes, such as the
              following:</span
            >
          </p>
          <ul style="list-style-type: undefined margin-left: 8px;">
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><strong
                ><span style="font-family: Calibri; font-size: 15px"
                  >Essential cookies:</span
                ></strong
              ><span style="font-family: Calibri; font-size: 15px"
                >&nbsp;These allow sites to perform essential functions and
                features, such as: processing your orders and remembering your
                preferences during your browsing session.</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><strong
                ><span style="font-family: Calibri; font-size: 15px"
                  >Performance and analytics cookies</span
                ></strong
              ><span style="font-family: Calibri; font-size: 15px"
                >: These help us to understand the effectiveness of our website
                and how customers engage with our website, making other
                improvements to our content which provide a better experience
                for browsing and personalization.</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><strong
                ><span style="font-family: Calibri; font-size: 15px"
                  >Functional cookies:</span
                ></strong
              ><span style="font-family: Calibri; font-size: 15px"
                >&nbsp;They allow us to remember your preferences, for instance,
                your language preference or the fact that you have logged in so
                that you don&apos;t have to input it every time you visit.</span
              >
            </li>
            <li>
              <span style="font-family: Symbol; font-size: 15px"
                >&middot;&nbsp;</span
              ><strong
                ><span style="font-family: Calibri; font-size: 15px"
                  >Advertising cookies (</span
                ></strong
              ><span style="font-family: Calibri; font-size: 15px"
                >Optional): Though we don&apos;t do targeted advertising,
                third-party service providers might use cookies to track your
                activities across websites for advertising purposes. But these
                are not used by Suitywuty directly.</span
              >
            </li>
          </ul>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >Controlling cookies</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >You have control over the application of cookies. Many browsing
              applications allow you to opt out or delete cookies accessed
              through your browser&apos;s control panel. However, should you
              decide to disable the cookies, some features related to our
              website may malfunction, such as adding items to your rental cart
              and checking out.&nbsp;</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >Consent</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We will assume that you have read, understood, and accepted the
              Cookies Policy by using our website. If you disagree with our use
              of cookies, you can modify your browser&apos;s settings to block
              cookies or avoid using our website.</span
            >
          </p>
          <h2 style="font-size: 24px; font-weight: 600; margin-top: 10px">
            <span
              style="
                font-family: 'Calibri Light';
                color: rgb(47, 84, 150);
                font-size: 17px;
              "
              >Changes to the cookies policy</span
            >
          </h2>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >We reserve our right to update this cookies policy whenever
              necessary. All such changes will be posted here with an updated
              revision date. We encourage you to regularly review this policy
              for any updates on how we may use cookies.</span
            >
          </p>
          <p>
            <span style="font-family: Calibri; font-size: 15px"
              >For more questions or concerns regarding the cookies that we use,
              feel free to contact us at rent&#64;suitywuty.com.</span
            >
          </p>
        </div>
      </div>
      <!--end -->
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
